html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 10vh;
    background-color: aquamarine;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    float: left;
    width: 10%;
    min-width: 80px;
    height: 100%;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 5px 0 5px 10px;
}

.linha {
    height: 100%;
    width: 0;
    float: left;
    margin: 0;
}

footer {
    width: 100%;
    height: 10%;
    position: relative;
    bottom: 0;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.other footer {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.principal {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;
}

.itemheader {
    margin: 0 5%;
}

input {
    height: 30%;
}

.posts {
    display: grid;
    width: auto;
    height: auto;
    border: 1px solid;
    text-align: center;
}

.imagem {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}


/* Páginas dos vídeos */

.videos {
    width: 50%;
    float: left;
    padding: 10px 0 0 10px;
}

.videos div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

video {
    width: 100%;
    text-align: center;
}

button {
    width: 70px;
    height: 30px;
}

.videosSugeridos {
    width: 20%;
    float: right;
    padding: 10px 10px 0 0;
}

.videosSugeridos h4 {
    margin: 0 0;
}

.videosSugeridos article {
    padding-bottom: 20px;
}


/* Responsividade */

@media screen and (max-width: 700px) {
    .disposicao {
        display: flex;
        flex-direction: column;
    }
    .videos {
        width: 90%;
        margin-bottom: 20px;
    }
    .disposicao video {
        width: 100%;
    }
    .videosSugeridos {
        width: 60%;
        padding-left: 10px;
    }
    nav ul li {
        list-style-type: none;
        padding: 5px 1px;
    }
}